@import url("https://fonts.googleapis.com/css2?family=Crete+Round&, seriffamily=Poppins& seriffamily=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

header {
  background: #3c3a39;
}

nav {
  padding: 20px;
}

.myLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu-btn {
  height: 12px;
  width: 18px;
}

.sm-none {
  display: none;
}

a {
  text-decoration: none;
}

.see-live a,
.see-source a {
  color: #fff;
  margin-right: 10px;
}

.nav-logo a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  animation: color-change 2s infinite alternate;
}

@keyframes color-change {
  0% {
    color: yellow;
  }

  25% {
    color: red;
  }

  50% {
    color: orange;
  }

  75% {
    color: blue;
  }

  100% {
    color: brown;
  }
}

.work-list li {
  color: #fff;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.project-btn,
.get-in-touch {
  background: #ff6b00;
  padding: 10px;
  border: none;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  display: flex;
  cursor: pointer;
}

.btn-bg {
  width: 80%;
  background: #ff6b00;
  padding: 10px;
  border: none;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  display: flex;
  cursor: pointer;
}

.mobile-menu {
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #3c3a39;
  z-index: 99;
  display: none;
  flex-direction: column;
  padding: 12px;
}

#mobile-nav li {
  padding: 20px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

#mobile-nav li a {
  text-decoration: none;
  color: #fff5e1;
}

.line-menu {
  width: 90%;
  border: 1px solid #6f6c6b;
}

.openMenu {
  display: flex;
}

.close-menu {
  cursor: pointer;
}

.close-btn {
  width: 90vw;
  height: 1rem;
  padding: 30px 50px 0 0;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  font-size: 48px;
  font-weight: bold;
}

.headline-section {
  background: #1c1a19;
}

.header-banner {
  height: 80vh;
  padding: 100px 20px 0 20px;
  position: relative;
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
}

.banner-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  color: #ff6b00;
}

.banner-role {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
  margin-top: 20px;
}

.banner-description {
  width: 327px;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 20px;
}

.social-icons {
  display: flex;
  margin-top: 20px;
  padding: 0 10px;
}

.banner-img {
  position: absolute;
  top: 52%;
  right: 0;
}

.social-icons img {
  margin-right: 20px;
}

.projects {
  background: #fff;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr;
}

.projects-header {
  margin-top: 100px;
  padding: 0 20px;
}

.recent-works {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #1c1a19;
  margin-bottom: 30px;
}

.line {
  border: 1px solid #212121;
}

.all-projects {
  margin-top: 80px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 10px 0;
}

.project-details {
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 20px;
  color: #091e42;
}

.project-tools {
  display: flex;
}

.tools {
  margin-right: 20px;
  justify-content: space-between;
  padding: 10px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  margin-bottom: 20px;
  border: 1px solid #8993a4;
}

ul {
  list-style: none;
}

.project-2 {
  padding: 0 20px;
  margin-top: 20px;
  background-image: url("./assets/Img Placeholder (1).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.582);
}

.title {
  color: #fff;
}

.details {
  padding-top: 35px;
}

.others {
  width: 80%;
}

.full-btn {
  width: 100%;
}

.half {
  width: 40%;
}

.resume {
  width: 50%;
  text-align: center;
}

.about-me {
  background: #1c1a19;
  height: 100vh;
  position: relative;
}

.about-me-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 150px 20px 0 20px;
}

.about-me-img img {
  position: absolute;
  right: 0%;
}

.work-tools {
  background: #1c1a19;
  position: relative;
  padding: 20px;
}

.line-2 {
  border: 1px solid #fff;
}

.language {
  margin-top: 20px;
}

.work-tool-1 {
  margin-top: 100px;
  padding: 10px 50px;
}

.language-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.list-bullet {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.type-1 {
  transform: rotate(-45deg);
}

.type-2 {
  border-radius: 50%;
}

.lang-1 {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 20px;
}

.work-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 20px;
  background: #fff;
  height: 100vh;
}

.show-interest {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.show-interest h3 {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 90%;
  padding: 20px 10px;
  margin-bottom: 20px;
  color: #979493;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  outline: none;
}

.contact-form textarea {
  width: 90%;
  padding: 20px 10px;
  margin-bottom: 20px;
  background: #fbf8f7;
  color: #3c3a39;
  font-family: "Inter", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  outline: none;
}

.get-in-touch {
  margin: 0 auto 50px auto;
  padding: 15px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px 20px 50px 20px;
}

.btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.btn:active {
  color: #f4f1f0;
  background: #e05304;
}

.btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.modal-background {
  top: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  height: 100%;

  /* background: #E5E5E5; */
  z-index: 99;
  flex-direction: column;
  padding: 12px;
  backdrop-filter: blur(5px);
}

.modal-box {
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  width: 90%;
  margin: 10px auto;
}

.modal-inner {
  padding: 10px 30px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-list {
  display: flex;
  padding: 0;
}

.tools-1 {
  margin-right: 20px;
  justify-content: space-between;
  padding: 3px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  margin-bottom: 20px;
  border: 1px solid #8993a4;
}

.modal-header h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.modal-img-box {
  display: block;
}

.modal-img {
  width: 100%;
  margin-bottom: 20px;
}

.modal-img img {
  width: 100%;
}

.modal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.modal-info {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.modal-btns {
  display: flex;
}

.see-live,
.see-source {
  margin-right: 10px;
  background-color: #e05304;
  padding: 10px;
  font-family: "Inter" , sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.03em;
}

.project-inner {
  cursor: pointer;
}
